In [40]:
import math as mt
import statistics as st
import pandas as pd
import numpy as np

In [42]:
π = mt.pi

1.a) ¿Cual es el resultado?

1) r = π · 8^4

In [13]:
parteuno = mt.pi * (8**4)
print (parteuno)

12867.963509103793

2) r = |1342 − 1677 · (9/7) − 6|

In [17]:
partedos = (abs)(1342 - (1677*(9/7)) - 6) 
print (partedos)

820.1428571428573

3) r = 9!

In [20]:
partetres = mt.factorial(9)
print (partetres)

362880

4) r = log(7)

In [21]:
partecuatro = mt.log(7, 10)
print (partecuatro)

0.8450980400142567

5) r = e^0,555457

In [24]:
partecinco = (mt.e ** 0.555457)
print (partecinco)

1.7427372337331462

1.b) Calcule el valor de x si x = (2 + π ) / (7 + 2z^2)

In [26]:
parteb = (2 + (mt.pi/7) + (2*(41**2))) 
print (parteb)

3364.448798950513

2. Dado x = (2, -6, 27, -8, -9, -21, 9, 5, 562, π) y dado y = (8, 9, -31, 18, -5, -18, 9, -22, 0, 9)
realice lo siguiente:

Introduzca x y y como listas en Python.

Calcule la media, la varianza y la desviacion estandar de y.

Calcule la correlacion entre x y y.

Escriba comandos en Python para obtener la lista x invertida.

Introduzca x y y como listas en Python.

In [43]:
x = [2, -6, 27, -8, -9, -21, 9, 5, 562, π]
x

[2, -6, 27, -8, -9, -21, 9, 5, 562, 3.141592653589793]

In [28]:
y = [8, 9, -31, 18, -5, -18, 9, -22, 0, 9]
y

[8, 9, -31, 18, -5, -18, 9, -22, 0, 9]

Calcule la media, la varianza y la desviacion estandar de y

In [30]:
st.mean(y)

-2.3

In [31]:
st.pvariance(y)

237.21

In [32]:
st.pstdev(y)

15.40162329106903

Calcule la correlacion entre x y y

In [44]:
print (np.corrcoef(x,y))

[[1.         0.02692977]
 [0.02692977 1.        ]]

Escriba comandos en Python para obtener la lista x invertida

In [33]:
newy = list(reversed(y))
print (newy)

[9, 0, -22, 9, -18, -5, 18, -31, 9, 8]

3. Usando codigo Python (no archivos) en un DataFrame genere la siguiente tabla de datos:
Sexo Peso Edad Nivel Educativo
H 43 15 Lic
M 35 21 Bach
H 96 19 Bach
M 56 17 Bach
H 25 25 Dr
M 48 35 MSc

In [37]:
preguntatres = {'sexo': ["H","M","H","M","H","M"],
                'peso': ["43", "35","96","56","25","48"],
                'edad': ["15","21","19","17","25","35"],
                'nivel educativo': ["Lic","Bach","Bach","Bach","Dr","MSc"]}
preguntatres

{'sexo': ['H', 'M', 'H', 'M', 'H', 'M'],
 'peso': ['43', '35', '96', '56', '25', '48'],
 'edad': ['15', '21', '19', '17', '25', '35'],
 'nivel educativo': ['Lic', 'Bach', 'Bach', 'Bach', 'Dr', 'MSc']}

In [38]:
mi_df=pd.DataFrame(preguntatres)
mi_df

  sexo peso edad nivel educativo
0    H   43   15             Lic
1    M   35   21            Bach
2    H   96   19            Bach
3    M   56   17            Bach
4    H   25   25              Dr
5    M   48   35             MSc

In [39]:
type(mi_df)

pandas.core.frame.DataFrame

Escriba instrucciones en Python para sumar los numeros enteros elevados al cubo del 1 al 100



"""hacerlo con while

In [47]:
def cubesum(n):
    sum = 0
    for i in range(n + 1):
        valuecube = i ** 3
        sum = sum + valuecube
    return (sum)
cubesum(100)

25502500